body{
	background-color:#f2f5f4;
	margin-left: 10%;
	margin-right: 10%;
	font-family:sans-serif;
	font-size: 20px;

}
.blocktext{
	text-align: center
}

.withBorder{
    border-width:1;
    border-color: rgb(190,190,190);
    border-style: solid;
}




